secret.txt
key.txt
btc_mxn_bitso_2.csv
btc_mxn_bitso_3.csv
btc_mxn_bitso_4.csv
btc_mxn_bitso.csv
btc_mxn_bitso_5.csv
btc_mxn_bitso_6.csv
btc_mxn_bitso_19_12_14.csv
btc_mxn_db.csv
Bitso_API_testing.ipynb
Funciones financieras.ipynb
Getting btc_mxn historical data.ipynb
stationary.ipynb
Working with data from bitso_csv.ipynb
working_with_predictions prophet.ipynb
working_with_quandl.ipynb
