Bitso_API_testing.ipynb
Funciones financieras.ipynb
Getting btc_mxn historical data.ipynb
stationary.ipynb
Working with data from bitso_csv.ipynb
working_with_predictions prophet.ipynb
working_with_quandl.ipynb
